PORT=3000
WIGATA_BASE_URL=https://api-stg.wigataintech.com/monolithic
WIGATA_MERCHANT_ID=
WIGATA_API_KEY=


# Opsional. Untuk callback lokal perlu expose server dengan tunnel publik.
WIGATA_CALLBACK_URL=

# Opsional jika payment_link.generate=true.
PAYMENT_SUCCESS_REDIRECT_URL=
PAYMENT_FAILED_REDIRECT_URL=
PAYMENT_EXPIRED_REDIRECT_URL=
